<!doctype html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/styles/menubar.css">
</head>

<body>
  <div class="header">
    <div class="left">
      <div class="title">
        John & Andy
      </div>
      <ul class="links">
        <li><a href="/">Home</a></li>
        <li><a href="/aboutus">About Us</a></li>
        <li><a href="/blog">Blog</a></li>
        <li><a href="/hobbies">Hobbies</a></li>
        <li><a href="/timeline">Timeline</a></li>
      </ul>
    </div>
  </div>
</body>

</html>
{% block content %}
{% endblock %}