{% extends "template.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
 
<head>
  
  <link rel="stylesheet" href="../static/styles/hobbies.css">
  <link rel="stylesheet" href="../static/styles/coderimage.css">
  <style>
    h1 {
      text-align: center;
    }

    .column {
      float: center;
      width: 33.33%;
      text-align: center;
    }


    .row:after {
      content: "";
      display: table;
      clear: both;

    }

    .hobbies_pic {
      width: 18rem;
    }
  </style>
</head>

<div class="coderimage">
 <img src="../static/img/coder.jpg">
  <div class="background-text">
    <h1>Timeline_Post</h1>
  </div>
</div>

<form id="form" method="post">
<div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="text" name="name" class="form-control" id="exampleInputName" aria-describedby="nameHelp" placeholder="Enter name">
  </div>  
<div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Message</label>
    <input type="text" name="content" class="form-control" id="exampleInputContent" placeholder="Message">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <hr>
  <form action="/api/timeline_post" method="get">
  <button id="upload" type="submit">Upload</button>
  </form>
<script>

const form = document.getElementById('form');
const payload = new FormData(form);
    if(form){
form.addEventListener('submit', function(e){
        e.preventDefault();
        

        console.log([...payload])
        fetch('http://andy-website.duckdns.org:5000/api/timeline_post', {
	    method: "POST",
            body: payload,
	})
	.then(res => res.json())
        .then(data => console.log(data))
 })
	document.write([...payload])

}
</script>
<h1>Print out</h>
<p>
{% for i in data %}
<h1>{{ i }}</h1>
{% endfor %}
</p>
{% endblock %}


